    <div class="footer">
        <marquee behavior="scroll" direction="left">
            We Wish You Merry, Merry Chrismas And A Happy Prosperous New Year.
        </marquee>
        <div class="marquee">
            <div class="marquee-content">
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
                <li><img src="../../static/images/pic (1).gif" class="f_all" alt=""></li>
            </div>
        </div>
        <iframe src="../../static/music/cel.wav" width="0" height="0" allowfullscreen frameborder="0"></iframe>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/duration.min.js"></script>
<script src="../../static/files/js/script.js"></script>
</body>
</html>